<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gtrrapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"
            android:theme="@style/actionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".RegisterActivity"
            android:label="Register Account"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".UpdateActivity"
            android:label="User Account Setting"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".AddNewRecycleLogActivity"
            android:label="Add New Recycle Log"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".RecycleGuideActivity"
            android:label="Recycle Guide Search">
        </activity>

        <!--ADMIN ACTIVITY-->
        <activity android:name=".admin.AdminHomeActivity"
        android:label="Admin">
    </activity>
        <activity android:name=".admin.AdminUserManagement"
            android:label="Admin">
        </activity>
        <activity android:name=".admin.AdminAddNews"
            android:label="Add Recycling News"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.AdminHomeActivity"/>
        </activity>
        <activity android:name=".admin.AdminLoginActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".admin.AdminAnalytics"
            android:label="Admin">
        </activity>

        <!--FACTS ACTIVITY-->
        <activity android:name=".facts.PlasticFactActivity"
            android:label="Plastic Facts">
        </activity>
        <activity android:name=".facts.GlassFactActivity"
            android:label="Glass Facts">
        </activity>
        <activity android:name=".facts.MetalFactActivity"
            android:label="Glass Facts">
        </activity>
        <activity android:name=".facts.PaperFactActivity"
            android:label="Glass Facts">
        </activity>
        <activity android:name=".facts.woodFactActivity"
            android:label="Glass Facts">
        </activity>
        <activity android:name=".facts.OilFactActivity"
            android:label="Glass Facts">
        </activity>

        <!--WEBVIEW ACTIVITY -->
        <activity android:name=".WebViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity"/>
        </activity>
        <activity android:name=".WebViewManualGuideActivity"
            android:label="Search Result">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RecycleGuideActivity"/>
        </activity>
        <activity android:name=".WebViewGuideActivity"
            android:label="Search Result">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RecycleGuideActivity"/>
        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>